html, body {
  height: 100%;
  width: 100%;
}

#linha1{
  background-color: white;
}

#linha2{
  font-weight: bold;
  color: mediumseagreen;
  background-color: #F2F2F2;
}

table{
  text-align: center;
  border-collapse: collapse;
  
}
th{
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}

td{
  padding: 12px 10px 12px;
  text-align: left;
}


