html, body {
  height: 100%;
  width: 100%;
}


table
{
  border: solid 1px green;
  text-align: center;
  border-collapse:collapse;
}

td,th{
  border: solid 1px green;
  padding: 3px 10px;
  margin:2px;
}
